# Copy to secrets.yaml and fill in. secrets.yaml is gitignored.
wifi_ssid: "your-ssid"
wifi_password: "your-password"
ota_password: "your-ota-password"
api_encryption_key: "OkdDEZX6Zh0uD5ifCEuzOu9wswN3y1/GYuz2DNlOmlw="
